*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00b4db,#0083b0);
}

.container{
    width:400px;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.search-box button{
    padding:10px 15px;
    border:none;
    background:#0083b0;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.search-box button:hover{
    background:#006f95;
}

.weather-card{
    margin-top:25px;
}

.weather-card img{
    width:100px;
}

.weather-card h2{
    margin:10px 0;
}

.weather-card p{
    margin:8px 0;
}